<template>
		<v-container>
            <v-text-field v-model="Catégorie" placeholder="Catégorie du produit"/>
            <v-text-field v-model="prix" placeholder="Prix du produit"/>
            <v-text-field v-model="Quantité" placeholder="Quantité"/>
            <v-text-field v-model="Product_id" placeholder="Product_id"/>
            <v-text-field v-model="Nom" placeholder="Nom"/>
            <v-text-field v-model="image" placeholder="image"/>
            <v-text-field v-model="Description" placeholder="Description"/>
            <v-btn @click="sendToFirebase()"> Créer une fiche produit</v-btn>
         
		</v-container>
	 </template>
	 <script>
		export default {
		name: 'addarticle',
        data: () => ({
  	            Catégorie: '',
                prix: '',
                Quantité: '',
                Product_id: '',
                Nom: '',
                image:'',
                Description:''
         }),
			methods:{
                sendToFirebase(){
                    const data = {
                        Catégorie: this.Catégorie,
                        prix: this.prix,
                        Quantité: this.Quantité,
                        Product_id: this.Product_id,
                        Nom: this.Nom,
                        image: this.image,
                        Description: this.Description
                        }
                    this.$fire.firestore.collection('Produits').doc().set(data)
                    /* console.log(this.Catégorie, this.prix, this.Quantité, this.Product_id, this.Nom,this.Description,this.image) */
                }
		 }
        }
     </script>