<template>
    <div>
    <v-sheet height="120"></v-sheet>
     <v-btn @click="getData">
        GET DATA
      </v-btn>
      <v-card v-for="(produit, index) in produits" :key="index" @click="userData(produit)" class="pa-5 mt-5">
        <v-row>
          <v-col cols="6" class="pa-7 smalltitle"
            style="font-size:20px; font-family: catamaran;font-weight: bold;font-style: normal;">
            <v-row>Nom : {{ produit.Nom }} </v-row>
            <v-row>Quantité : {{ produit.Quantité }} unités </v-row>
            <v-row>Prix: {{ produit.prix }} € </v-row>
            <v-row>Description {{ produit.Description }} </v-row>
          </v-col>
          <v-col cols="1">
            <v-divider vertical></v-divider>
          </v-col>
          <v-col cols="5">
            <v-img  :src="produit.image"></v-img>
          </v-col>
        </v-row>

      </v-card>  
    </div>
</template>
<script>
/* import AddArticle from '../components/AddArticle' */
/* import Barretop from '../components/Barretop' */
export default {
  name: 'Drones',
  /* components: { AddArticle }, */
  data() {
    return {
      ex3: { label: 'Quantité', val: 100, color: 'pink' },
      dialogAddArticle: false,
      dialogConfirmation: true,
      formulaireLog: null,
      formulairePass: null,
      show: false,
      infos: null,
      dialog: false,
      selectedProduct: null,
      produits: []
    }
  },
  beforeMount() {
    console.log('--> BEFORE MOUNT')
    this.refresh()
  },
  methods: {
    userData(produit) {
      this.dialog = true
      this.selectedProduct = produit
    },
    async getData() {
      this.produits = []
      // RECUPERE TOUS LES DOCUMENTS D'UNE COLLECTION
      this.$fire.firestore.collection('Produits').where("Catégorie", "==","Drone").get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.produits.push(doc.data())
        });
        console.log(this.produits)
      })
    },
    refresh() {
      this.dialogAddArticle = false
      this.dialog = false
      this.getData()

    }
  }
}
</script>
