
<template>
    <div>
     <v-sheet height="110"></v-sheet> 
     <!-- <v-btn style="position:absolute; right:300; top:200px;" elevation="0" @click="dialogAddArticle = true"> 
     En cliquant vous acceptez notre politique de confidentialité </v-btn> -->
    <template>
      <v-row justify="center">


        <v-dialog v-model="dialogAddArticle" max-width="800">
          <v-card style="position:relative">
            <AddClient/>
            <v-btn style="position:absolute; right: 5px; bottom:5px;" outlined color="red" @click="dialogAddArticle=false,converter=true"> 
            Validez
            </v-btn>
          </v-card>
        </v-dialog>
        <v-dialog v-model="converter">
        <v-btn href="/">
        Votre inscription est bien prise en compte cliquez pour revenir à l'acceuil</v-btn></v-dialog>
        
        
      </v-row>
    </template>
    <v-col>
    
    
    

</v-col>

    </div>
</template>
<script>

import AddClient from '../components/AddClient.vue'


export default {
  name: 'InspirePage',
  components: { AddClient },
  data() {
    return {
      ex3: { label: 'Quantité', val: 100, color: 'pink' },
      dialogAddArticle: true,
      converter:false,
      dialogConfirmation: true,
      formulaireLog: null,
      formulairePass: null,
      show: false,
      infos: null,
      dialog: false,
      selectedProduct: null,
      produits: [],
      re2:''
    }
  },
  beforeMount() {
    console.log('--> BEFORE MOUNT')
    this.refresh()
  },
  methods: {
    userData(produit) {
      this.dialog = true
      this.selectedProduct = produit
    },
    async getData() {
      this.produits = []
      // RECUPERE TOUS LES DOCUMENTS D'UNE COLLECTION 
          this.$fire.firestore.collection('Customers').get().then((querySnapshots) => {
        querySnapshots.forEach(doc => {
          this.produits.push(doc.data())
        });
        console.log(this.produits)
      })
    },
    refresh() {
      this.dialogAddArticle = true
      this.dialog = false
      this.getData()

    },
    ran()
    {this.re2=Math.floor(Math.random() * 100000000000) + 1;}
  }
}
</script>